<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>巨6游戏聚合平台 - 后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
<div id="LAY_app"></div>
<script src="/static/layui/layui.js"></script>
<script>
    api_host = '';
    layui.config({
        base: '/admin/src/'
        //,version: '1.2.1'
        ,version: new Date().getTime()
    }).use('index');
</script>
</body>
</html>